@import 'normalize.css';

:root {
    --primary-color: #3498db;
}

html { 
    font-size: 62.5%;
}

body { 
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;

}

